/*** Root ***/
.k1 {
  /*** Fonts ***/
  /* COLOR */
  /*Formations*/
  /* Call FONTS */
  font-size: 16px;
  font-family: 'Pt Sans';
  color: #333333;
  /*** General Rules ***/
  /*** Layout ***/
  /*** body ***/
  background: #007399;
  margin: auto;
  /*** Content ***/
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(../fonts/LKf8nhXsWg5ybwEGXk8UBQ.woff) format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(../fonts/0XxGQsSc1g4rdRdjJKZrNBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url(../fonts/PIPMHY90P7jtyjpXuZ2cLD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(../fonts/lILlYDvubYemzYzN7GbLkHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.k1 h1 {
  color: #ffffff;
  font-size: 2.6em;
  line-height: 75px;
  padding: 0;
  text-align: center;
  margin: 0;
}
.k1 h2 {
  color: #00537b;
  font-size: 1.6em;
  font-weight: 700;
  padding: 0;
  margin: .5em 0;
}
.k1 p {
  line-height: 1em;
  margin: 0;
  padding: 0;
}
.k1 ul,
.k1 li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.k1 * {
  box-sizing: border-box;
}
@media screen and (max-width: 769px) {
  .k1 .left,
  .k1 .right {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .k1 .content-root {
    width: 75%;
    margin: auto;
  }
  .k1 .left {
    width: 50%;
    float: left;
  }
  .k1 .right {
    width: 50%;
    float: left;
  }
}
.k1 header {
  width: 100%;
  height: 75px;
  background: #00537b;
  margin-bottom: 1em;
  border: 1px solid #d1e5f6;
}
.k1 .module {
  display: block;
  overflow: hidden;
  background: #ffffff;
  padding: .5em 1em;
  border-radius: 5px;
  border: 1px solid #00537b;
}
.k1 .map {
  width: 100%;
}
.k1 .map svg {
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
}
.k1 .map svg #Map {
  width: 100%;
}
.k1 .map img {
  width: 100%;
}
.k1 .filters ul li {
  float: left;
  background: #00537b;
  color: #ffffff;
  font-weight: 700;
  border: 1px solid #ffffff;
  padding: .5em 1em;
  border-radius: 5px;
  margin-right: .5em;
  cursor: pointer;
}
.k1 .filters ul li:hover {
  background: #ea5b0c;
}
.k1 .filters ul li[checked="true"] {
  background: #ea5b0c;
}
